<h1>Welcome to the Reactive Hyperledger Context</h1>

<p>Please ignore everything</p>

<div class="forms-container">
    <select [(ngModel)]="type">
        <option value="diploma" selected>Diploma</option>
        <option value="grade">Grade</option>
    </select>
    <div class="container-row">
        <div class="form-container diploma">
            <span class="form-title">Diploma form</span>
            <input [(ngModel)]="username" (keyup)="$event.keyCode == 13 && sendMessage()" placeholder="username"/>
            <input [(ngModel)]="school" (keyup)="$event.keyCode == 13 && sendMessage()" placeholder="school"/>
            <input [(ngModel)]="study" (keyup)="$event.keyCode == 13 && sendMessage()" placeholder="study"/>
            <input [(ngModel)]="first_name" (keyup)="$event.keyCode == 13 && sendMessage()" placeholder="first name"/>
            <input [(ngModel)]="last_name" (keyup)="$event.keyCode == 13 && sendMessage()" placeholder="last name"/>
            <button (click)="sendMessage()">Send</button>
        </div>
        <div class="form-container grade">
            <span class="form-title">Grade form</span>
            <input [(ngModel)]="username" placeholder="username"/>
            <input [(ngModel)]="school" placeholder="school"/>
            <input [(ngModel)]="course" placeholder="course"/>
            <input [(ngModel)]="grade" placeholder="grade"/>
            <input [(ngModel)]="first_name" placeholder="first name"/>
            <input [(ngModel)]="last_name" placeholder="last name"/>
            <button (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>

<h1>Diploma Ledger</h1>
<div class="diploma-content">
    <div class="container diplomas">
        <h2>Diplomas</h2>
        <div *ngFor="let diploma of diplomas; let index = index" [ngClass]="[bntStyle]" >
            {{diploma}}
        </div>
    </div>
    <div class="container grades">
        <h2>Grades</h2>
        <div *ngFor="let grade of grades; let index = index" [ngClass]="[bntStyle]" >
            {{grade}}
        </div>
    </div>
</div>


<h1>TEst NG for class with divs</h1>
<div *ngFor="let message of messages; let index = index" class="message-{{index}}" >
    {{message}}
    {{index}}
</div>

<br><br><br>
<div id="testId">testStyle</div>
<div class="testIdBis">testStyleBis</div>
